@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<K21CNT2_2110900086_DATN.Models.Product>



@{
    ViewData["Title"] = "Product Index" + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int CurrentPage = ViewBag.CurrentPage;
}

<!-- Begin Main Content Area -->
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="images/anh/sp.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h1 class="breadcrumb-heading">Sản phẩm </h1>
                        <ul style="color: white">
                            <li >
                                <a style="color: white"  href="/">Trang chủ  <i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>Danh sách sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-lg-2 order-1">
                    <div class="product-topbar">
                        <ul>
                            <li class="product-view-wrap">
                                <ul class="nav" role="tablist">
                                    <li class="grid-view" role="presentation">
                                        <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th"></i>
                                        </a>
                                    </li>
                                    <li class="list-view" role="presentation">
                                        <a id="list-view-tab" data-bs-toggle="tab" href="#list-view" role="tab" aria-selected="true">
                                            <i class="fa fa-th-list"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="short">
                                <select class="nice-select wide rounded-0">
                                    <option value="1">Sắp xếp theo...</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade  show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a asp-route="ProductDetails" asp-route-id="@item.ProductId">
                                                        <img class="img-full" src="~/images/products/@item.Image" alt="@item.ProductName">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0);" class="quick-add-to-cart" data-product-id="@item.ProductId">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" asp-route="ProductDetails" asp-route-id="@item.ProductId">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">
                                                            @item.Price.ToString("#,##0")VNĐ
                                                        </span>
                                                    </div>
                                                    @* <div class="rating-box">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div> *@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-view" role="tabpanel" aria-labelledby="list-view-tab">
                            <div class="product-list-view with-sidebar row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-12">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a asp-route="ProductDetails" asp-route-id="@item.ProductId">
                                                        <img class="img-full" src="~/images/products/@item.Image" alt="@item.ProductName">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a href="javascript:void(0);" class="quick-add-to-cart" data-product-id="@item.ProductId">
                                                                    <i class="pe-7s-cart"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="compare.html">
                                                                    <i class="pe-7s-shuffle"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="wishlist.html">
                                                                    <i class="pe-7s-like"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content align-self-center">
                                                    <a class="product-name pb-2" asp-route="ProductDetails" asp-route-id="@item.ProductId">@item.ProductName</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Price.ToString("#,##0")VNĐ</span>
                                                    </div>
                                                    @* <div class="rating-box pb-2">
                                                        <ul>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                            <li><i class="pe-7s-star"></i></li>
                                                        </ul>
                                                    </div> *@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="pagination-area pt-10">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-controller="Product" asp-action="Index" />
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".quick-add-to-cart").click(function () {
                var productid = $(this).data("product-id"); // Lấy ID sản phẩm
                var soLuong = 1; // Mặc định thêm 1 sản phẩm

                if (!productid) {
                    alert("Sản phẩm không hợp lệ.");
                    return;
                }

                $.ajax({
                    url: '/api/cart/add',
                    type: "POST",
                    dataType: "json",
                    data: {
                        productID: productid,
                        amount: soLuong
                    },
                    success: function (response) {
                        if (response.success) {
                            updateCartUI(); // Cập nhật số lượng hiển thị ngay lập tức
                            showToast("Sản phẩm đã được thêm vào giỏ hàng!");

                            // Đợi 1 giây rồi reload trang
                            setTimeout(function () {
                                location.reload();
                            }, 1000);
                        } else {
                            alert("Không thể thêm sản phẩm vào giỏ hàng.");
                        }
                    },
                    error: function (xhr) {
                        console.error("Lỗi khi thêm sản phẩm vào giỏ hàng:", xhr);
                        alert("Có lỗi xảy ra: " + xhr.responseText);
                    }
                });
            });

            // Cập nhật số sản phẩm trong giỏ hàng mà không cần reload
            function updateCartUI() {
                $("#miniCart").load("/AjaxContent/HeaderCart");
                $("#numberCart").load("/AjaxContent/NumberCart");
            }

            // Hiển thị thông báo nhỏ (toast)
            function showToast(message) {
                var toast = $("<div class='toast-message'>" + message + "</div>");
                $("body").append(toast);
                toast.fadeIn(400).delay(1000).fadeOut(400, function () {
                    $(this).remove();
                });
            }
        });
    </script>
}