@model IEnumerable<K21CNT2_2110900086_DATN.Models.Category>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="table-responsive">
    <style>
        .table {
            margin-top: 80px; /* Điều chỉnh giá trị này để tạo khoảng cách với menu */
        }
    </style>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Mã danh mục</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.CategoryId</th>
                        <td>@item.CategoryName</td>
                        <td>
                            <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCategories" asp-action="Details" asp-route-id="@item.CategoryId">Xem</a>
                            <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@item.CategoryId">Sửa</a>
                            <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCategories" asp-action="Delete" asp-route-id="@item.CategoryId">Xóa</a>
                        </td>
                    </tr>
                }
                <tr>
                    <!-- Cột trống để giữ khoảng cách -->
                    <td></td>
                    <td></td>                   
                    <td class="text-left">
                        <a class="btn btn-info btn-tone m-r-5" asp-area="Admin" asp-controller="AdminCategories" asp-action="Create">Thêm mới</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

